@model Tournament8TeamModel
@{
    ViewBag.Title = Model.Name;
}
<style>
    td {
        height: 1px;
    }

        td > div {
            border: solid black 0;
            display: table;
            height: 100%;
            min-height: 20px;
            width: 100%;
        }

            td > div > div {
                display: table-cell;
                padding: 2px 8px;
                text-align: center;
                vertical-align: middle;
            }

    .quart-tree {
        border-width: 1px;
        min-height: 60px;
    }

    .cons-tree {
        border-width: 1px 0 1px 1px;
    }

    .final-tree {
        border-width: 1px 1px 1px 0;
    }

    .final-desc {
        border-top-width: 1px;
    }

    .over-line {
        font-weight: bold;
        vertical-align: bottom;
    }

    .under-line {
        font-weight: bold;
        vertical-align: top;
    }

    .final-desc .under-line {
        font-weight: normal;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <table>
            <tr>
                <td rowspan="8"><div></div></td>
                <td rowspan="3"><div></div></td>
                <td><div></div></td>
                <td><div><div class="over-line">@Model.QuarterFinal1Vs8.TeamADisplay</div></div></td>
                <td><div></div></td>
                <td rowspan="3"><div></div></td>
                <td rowspan="8"><div></div></td>
            </tr>
            <tr>
                <td><div><div class="over-line">@Model.QuarterFinal1Vs8.LoserDisplayResult</div></div></td>
                <td rowspan="2"><div class="quart-tree"><div>@Model.QuarterFinal1Vs8.Description</div></div></td>
                <td><div><div class="over-line">@Model.QuarterFinal1Vs8.WinnerDisplayResult</div></div></td>
            </tr>
            <tr>
                <td rowspan="5"><div class="cons-tree"><div>@Model.ConsSemiFinal8Vs5.Description</div></div></td>
                <td rowspan="5"><div class="final-tree"><div>@Model.SemiFinal1Vs4.Description</div></div></td>
            </tr>
            <tr>
                <td><div><div class="over-line">@Model.ConsSemiFinal8Vs5.WinnerDisplayResult</div></div></td>
                <td><div><div class="under-line">@Model.QuarterFinal1Vs8.TeamBDisplay</div></div></td>
                <td><div><div class="over-line">@Model.SemiFinal1Vs4.WinnerDisplayResult</div></div></td>
            </tr>
            <tr>
                <td rowspan="11"><div class="cons-tree"><div>@Model.ConsFinal.Description</div></div></td>
                <td><div></div></td>
                <td rowspan="11"><div class="final-tree"><div>@Model.Final.Description</div></div></td>
            </tr>
            <tr>
                <td><div><div class="over-line">@Model.QuarterFinal4Vs5.TeamADisplay</div></div></td>
            </tr>
            <tr>
                <td rowspan="2"><div class="quart-tree"><div>@Model.QuarterFinal4Vs5.Description</div></div></td>
            </tr>
            <tr>
                <td><div><div class="under-line">@Model.QuarterFinal4Vs5.LoserDisplayResult</div></div></td>
                <td><div><div class="under-line">@Model.QuarterFinal4Vs5.WinnerDisplayResult</div></div></td>
            </tr>
            <tr>
                <td><div><div class="over-line">@Model.ConsFinal.WinnerDisplayResult</div></div></td>
                <td rowspan="3"><div></div></td>
                <td><div><div class="under-line">@Model.QuarterFinal4Vs5.TeamBDisplay</div></div></td>
                <td rowspan="3"><div></div></td>
                <td><div><div class="over-line">@Model.Final.WinnerDisplayResult</div></div></td>
            </tr>
            <tr>
                <td rowspan="12"><div class="final-desc"><div class="under-line">@Model.ConsFinal.ResultLabel</div></div></td>
                <td><div></div></td>
                <td rowspan="9"><div class="final-desc"><div class="under-line">@Model.Final.ResultLabel</div></div></td>
            </tr>
            <tr>
                <td><div><div class="over-line">@Model.QuarterFinal3Vs6.TeamADisplay</div></div></td>
            </tr>
            <tr>
                <td><div><div class="over-line">@Model.QuarterFinal3Vs6.LoserDisplayResult</div></div></td>
                <td rowspan="2"><div class="quart-tree"><div>@Model.QuarterFinal3Vs6.Description</div></div></td>
                <td><div><div class="over-line">@Model.QuarterFinal3Vs6.WinnerDisplayResult</div></div></td>
            </tr>
            <tr>
                <td rowspan="5"><div class="cons-tree"><div>@Model.ConsSemiFinal7Vs6.Description</div></div></td>
                <td rowspan="5"><div class="final-tree"><div>@Model.SemiFinal2Vs3.Description</div></div></td>
            </tr>
            <tr>
                <td><div><div class="under-line">@Model.QuarterFinal3Vs6.TeamBDisplay</div></div></td>
            </tr>
            <tr>
                <td><div></div></td>
            </tr>
            <tr>
                <td><div><div class="under-line">@Model.ConsSemiFinal7Vs6.WinnerDisplayResult</div></div></td>
                <td><div><div class="over-line">@Model.QuarterFinal2Vs7.TeamADisplay</div></div></td>
                <td><div><div class="under-line">@Model.SemiFinal2Vs3.WinnerDisplayResult</div></div></td>
            </tr>
            <tr>
                <td rowspan="5"><div></div></td>
                <td rowspan="2"><div class="quart-tree"><div>@Model.QuarterFinal2Vs7.Description</div></div></td>
                <td><div></div></td>
            </tr>
            <tr>
                <td><div><div class="under-line">@Model.QuarterFinal2Vs7.LoserDisplayResult</div></div></td>
                <td><div><div class="under-line">@Model.QuarterFinal2Vs7.WinnerDisplayResult</div></div></td>
                <td><div><div class="over-line">@Model.SemiFinal1Vs4.LoserDisplayResult</div></div></td>
            </tr>
            <tr>
                <td rowspan="3"><div></div></td>
                <td><div><div class="under-line">@Model.QuarterFinal2Vs7.TeamBDisplay</div></div></td>
                <td rowspan="3"><div></div></td>
                <td rowspan="2"><div class="final-tree"><div>@Model.ThirdPlace.Description</div></div></td>
                <td><div><div class="over-line">@Model.ThirdPlace.WinnerDisplayResult</div></div></td>
            </tr>
            <tr>
                <td rowspan="2"><div></div></td>
                <td><div class="final-desc"><div class="under-line">@Model.ThirdPlace.ResultLabel</div></div></td>
            </tr>
            <tr>
                <td><div><div class="under-line">@Model.SemiFinal2Vs3.LoserDisplayResult</div></div></td>
                <td><div></div></td>
            </tr>
        </table>
    </div>
</div>
